<% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
        <!-- Content goes here -->
        <h3 class='text-center my-4 text-4xl'>Sign up</h3>

        <%= form_with model: @student, local: true do |f| %>
            
            <div>
                <div>
                    <%= f.label :name, class: '' %>
                </div>
                <%= f.text_field :name , class: '' %>
            </div>
            
            <div>
                 <div>
                    <%= f.label :email, class: '' %>
                </div>
                <%= f.email_field :email , class: '' %>
            </div>
           
            <div>
                 <div>
                    <%= f.label :password, class: '' %>
                </div>
                <%= f.password_field :password , class: '' %>
            </div>

            <div>
                 <div>
                    <%= f.label :password_confirmation, class: '' %>
                </div>
                <%= f.password_field :password_confirmation , class: '' %>
            </div>
            
            <%= f.submit class: '' %>
        <% end %>
    </div>  
</div>