<h1>My Portfolio</h1>

<div class="search-area">
    <h3>Search Stocks</h3>
    <%= form_with(url: search_stock_path, method: :get) do %>
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol" %>
        <%= csrf_meta_tags %>
        <%= submit_tag "Search" %>
    <% end %>
</div>

<%= render 'users/result' %>