<%= form_with scope: :session, url: login_path, local: true do |f| %>
    <div>
        <div>
            <%= f.label :email, class: '' %>
        </div>
        <%= f.email_field :email , class: '' %>
    </div>
    <div>
        <div>
            <%= f.label :password, class: '' %>
        </div>
        <%= f.password_field :password , class: '' %>
    </div>
    <%= f.submit "Log in" , class: '' %>
<% end %>