
<div class='container'>
    <%= render 'shared/errors', obj: @article %>

    <div class='row'>
        <%= form_with model: @article, local: true do |f| %>
            <div class="mb-3">
                <%= f.label :title, class: 'form-label' %>
                <%= f.text_field :title , class: 'form-control' %>
            </div>
            <div class="mb-3">
                <%= f.label :description, class: 'form-label' %>
                <%= f.text_area :description, rows: 10, class: 'form-control', style: 'heidght: 150px;' %>
            </div>
            <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
