<div class='py-3' id='page-content'>
    <h1 class='text-center'><%= @article.title %></h1>
    <div class='row mb-4 justify-content-md-center'>
        <div class='col-8 mt-4'>
            <div class="shadow-lg card text-center">
                    <% if @article.user  %>
                        <div class="card-header">
                            by <%= @article.user.username %>
                        </div>
                    <% end  %>
                <div class="card-body">
                    <%= simple_format @article.description, class: 'card-text text-start' %>
                    <% if logged_in? and @article.user == current_user or current_user.admin? %>
                        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-info' %>
                        <%= link_to 'Delete', article_path(@article), class: 'btn btn-outline-danger', data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"} %>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        Created <%= time_ago_in_words(@article.created_at) %> ago |
                        edited <%= time_ago_in_words(@article.updated_at) %> ago
                    </small>
                </div>
            </div>
        </div>
    </div>

    <h2 class='text-center'>
        <%= link_to 'Return to listing', articles_path, class: 'btn btn-primary' %>
    </h2>

</div>
