<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Details:</strong>
    <%= project.details %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expected completion date:</strong>
    <%= project.expected_completion_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= project.team_id %>
  </p>

</div>
