<tr id='friend-<%= friend.id %>'>
    <th scope="row"><%= friend.email %></th>
    <td><%= friend.first_name %></td>
    <td><%= friend.last_name %></td>
    <td>
        <%= button_to 'Stop following', friendship_path(friend), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-warning" %>
    </td>
</tr>